@model List<TorahWayPodcast.Models.Shiur>
<?xml version="1.0" encoding="utf-8" ?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:dcterms="http://purl.org/dc/terms/" xmlns:wfw="http://wellformedweb.org/CommentAPI/" version="2.0">
    <channel>
        <title>The Torah Way podcast</title>
        <link>http://kikarhabusiness.podomatic.com</link>
        <description>
            Start your day the Torah Way
        </description>
        <language>en-GB</language>
        <generator>Oren's little concoction</generator>
        <pubdate>@DateTime.Now.ToLongDateString()</pubdate>
        <itunes:keywords>
            torah,tora,rabbi,london
        </itunes:keywords>
        <itunes:subtitle>
            Start your day the Torah Way
        </itunes:subtitle>
        <itunes:explicit>no</itunes:explicit>
        <itunes:block>no</itunes:block>
        <itunes:image href="http://assets.podomatic.net/ts/09/95/c9/wha019/1400x1400_7529238.jpg" />
        <itunes:author>(c) The Torah Way NW London</itunes:author>
        <itunes:summary>
            Start your day with a 30 minutes torah shiur.
        </itunes:summary>
        <itunes:category text="Judaism">
            <itunes:category text="Torah" />
        </itunes:category>
        <atom:link type="application/rss+xml" href="@Request.Url" rel="self" />
        @{var s = Model.First(); }
            <item>
                <title>
                    @s.Rav - @s.Subject
                </title>
                <description>
                    <![CDATA[
                    <img src="http://assets.podomatic.net/ts/09/95/c9/wha019/1400x1400_8179745.jpg" alt="itunes pic" /><br />@s.Description
                    ]]>
                </description>
                <guid ispermalink="true">
                    @s.Url
                </guid>
                <comments>
                    @s.Url
                </comments>
                <pubdate>@s.DatePublished.ToLongDateString()</pubdate>
                <dcterms:modified>@String.Format("{0:yyyy-MM-dd}", s.DatePublished)</dcterms:modified>
                <dcterms:created>@String.Format("{0:yyyy-MM-dd}", s.DatePublished)</dcterms:created>
                <link>http://www.toahway.org.uk</link>
                <dc:creator>(c) The Torah Way NW London</dc:creator>
                <itunes:keywords />
                <enclosure url="@s.Url" type="audio/mpeg" length="@s.FileSize" />
                <itunes:image href="http://assets.podomatic.net/ts/09/95/c9/wha019/1400x1400_8179745.jpg" />
                <itunes:duration>@s.Duration</itunes:duration>
                <itunes:explicit>clean</itunes:explicit>
                <itunes:order>1</itunes:order>
                <itunes:summary>
                    @s.Description
                </itunes:summary>
                <itunes:subtitle>
                    @s.Description
                </itunes:subtitle>
            </item>
    </channel>
</rss>